.vscode
*.sublime-project
*.sublime-workspace
.idea

*.exe
*.html
*.js
*.idx
htmldocs
docs

nimcache/
testresults/
outputExpected.txt
outputGotten.txt

tests/megatest.nim
tests/megatest

tests/tutils

